@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.btn-primary {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #171717;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 300ms ease;
}

.btn-primary:hover {
  background-color: #bebdbd;
}